[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Personal
Comment=Launch Firefox with Personal profile
Exec=/usr/bin/firefox -P "Personal" %u
Icon=/home/pabloagn/dotfiles/user/scripts/Firefox_Personal.png
Terminal=false
Categories=Network;WebBrowser;
